*{
    font-family: "Host Grotesk", sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 3%;
}

.left-navbar img{
    max-width: 100%;
    width: 90px;
}

.middle-navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.middle-navbar li{
    list-style: none;
    color: #575757;
}

.common-button {
    background-color: #E8BA2E;
    color: black;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin-right: 5px;
    gap: 10px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.common-button span{
    font-size: 18px;
    font-weight: bold;
}

.hero-section{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./images/Background.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;

    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
}

.hero-content{
    color: white;
}

.hero-content h1{
    font-size: 40px;
    width: 220px;
    margin-bottom: 10px;
}

.hero-content p{
    font-size: 12px;
    width: 340px;
    margin-bottom: 30px;
}



