*{
    font-family: "Host Grotesk", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 3%;
}

.left-navbar img{
    max-width: 100%;
    width: 90px;
}

.middle-navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.middle-navbar li{
    list-style: none;
    color: #575757;
}

.common-button {
    background-color: #E8BA2E;
    color: black;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin-right: 5px;
    gap: 10px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.common-button span{
    font-size: 18px;
    font-weight: bold;
}

.hero-section{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./images/Background.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;

    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 30px;

    /* margin-bottom: 20px; */
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 30px;
}

.hero-content{
    color: white;
}

.hero-content h1{
    font-size: 40px;
    width: 220px;
    margin-bottom: 10px;
}

.hero-content p{
    font-size: 12px;
    width: 340px;
    margin-bottom: 30px;
}


.ticket-section{
    background-color: #E8BA2E;
    color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 3%;
    /* margin-bottom: 50px; */
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 30px;
    
}

.ticket-section p{
    font-size: 12px;
}
.ticket-section h1{
    font-size: 40px;
}



main{
    
}

main h1{
    text-align: center;
    margin-bottom: 30px;
}

.host-cities{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 30px;
    padding: 0 20px;
    gap: 45px;
}

.host-cities-image img{
    max-width: 100%;
    width: 300px;
}

.host-cities-info{
    
}

.host-cities-info h2{
    margin-bottom: 5px;
}

.host-cities-info p{
    font-size: 12px;
    color: #575757;
    width: 530px;
    margin-bottom: 10px;
}

.host-cities-info ul{
    font-size: 12px;
    color: #575757;
}

.button-container{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}






